{{!< layout}}
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
      <form>
        <label>
          Enter their mobile number
          <input type="number">
        </label>
      </form>
    </div>
  </div>
  
