{{!< layout}}
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
      <form action="/invite-action" method="post">
        <label>
          Enter their mobile number
          <input name="mobile" type="number">
        </label>
        <input type="submit" value="Send invite">
      </form>
      {{#if roomRef}}
      <p>Your invite has been sent, <a href='/room/{{roomRef}}'>join the room</a></p>
      {{else}}
        {{#unless hideError}}<p>There was a problem with your invite, please check the number and try again</p>{{/unless}}
      {{/if}}
      
    </div>
  </div>
  
